<?xml version="1.0" encoding="UTF-8"?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean  id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="location" value="classpath:graph-reader-beans.properties" />
	</bean>

	<bean name="GraphService" class="com.mukcay.GraphFromFileService singleton="false" 
		<property name="fileName" value=${fileName} />
	</bean>
	
	<bean name="Dijkstra" class="com.mukcay.Dijkstra" singleton="false" >
		<constructor-arg ref="GraphService" />
	</bean>

</beans>